@tailwind base;
@tailwind components;
@tailwind utilities;

body{

    background-color: rgba(16, 4, 119, 0.211);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}